# vim: noai:ts=2:sw=2:ft=yaml:
language: minimal

git:
  depth: 1

sudo: required

services:
  - docker

env:
  global:
    - ELASTIC_VERSION=6.0.1
    - QDROUTERD_VERSION=1.7.0
    - secure: biIvVwFaTdbJythty17sCNsKKU7R9m4cusvV/jiOTwPMTaXuxMgC4XWFsvwFcLO0Nze2RewswxOg5i6hkLpqPTcZLR9GZdXpRG24nuwImHPpgdbpwX35kUnnK4jLY5kOcwndTVHZoqpetxejBxgtKo839dhA7sfFKx4HI+xti3FJvjZgdc/7A2QABGG5wu08XZDo50p1vx7BR9IxgEnK7i34Gq9qXbeeltYChqXIZ4M1rCpevWgvUcvgtyRkcNAtEXjiVTzb+XocHvyjuLBAwu5xzg5xPjiLHJvo3CvxdPb3VsYNHFmxv1g0vJUMR5dELLydhmcIcWAJQGUcDm3FnYQbd8EEuRHvefSubjG+aagNc/8rDAP0yIvTGpIZ9mwDb5x/ps0urOOGLC34ik33sYz2IGlazn2cM4RaGv78TPgibEdQEBCyY0E0zuKo3QejOlG0qkqKF3joZfS90PuKBBPWSEgFrXp357BRBtz/e45FfrwOUwqDYTlj0ivJ99Cnam+GUnlgkn0a2aVQhwAE9XTtrj+Q8JtnhUeTIskN+/OTsYFn8wVWePRK9LhoosFsOoMzA0QQTRn+O2EAN8V5LWY44ghJkGoLNMrvla4Lwc/oPyMqQvDbwJRXeoJ3Fz38TIcTw6HnxRj5DiBlidbl6GxOy/9K8iohkDQ6Z5OzvuI=

# setup dependencies required for testing
before_install:
  - docker pull docker.elastic.co/elasticsearch/elasticsearch:$ELASTIC_VERSION
  - docker run -p 9200:9200 --name elastic -p 9300:9300 -e "discovery.type=single-node" -d docker.elastic.co/elasticsearch/elasticsearch:$ELASTIC_VERSION
  - docker pull quay.io/interconnectedcloud/qdrouterd:$QDROUTERD_VERSION
  - docker run -p 5672:5672 -d quay.io/interconnectedcloud/qdrouterd:$QDROUTERD_VERSION
  - docker pull centos:7

# execute unit testing and code coverage
install:
  - docker run -eCOVERALLS_TOKEN -uroot --network host -it --volume $PWD:/go/src/github.com/redhat-service-assurance/smart-gateway:z --workdir /go/src/github.com/redhat-service-assurance/smart-gateway centos:7 /bin/sh -c 'sh ./build/test-framework/run_tests.sh'

# functional testing (validate it works)
script:
  - docker build --tag redhat-service-assurance/smart_gateway:latest .
  - docker images
