{% if 'apps.openshift.io' in api_groups %}
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
{% else %}
apiVersion: apps/v1
kind: Deployment
{% endif %}
metadata:
  name: {{ name }}
  namespace: {{ namespace }}
  labels:
    app: {{ name }}
    service: {{ name }}
spec:
  replicas: {{ size }}
{% if 'apps.openshift.io' in api_groups %}
  selector:
    app: {{ name }}
    service: {{ name }}
    sa-telemetry-app: {{ name }}
{% else %}
  selector:
    matchLabels:
      app: {{ name }}
      service: {{ name }}
{% endif %}
  template:
    metadata:
      labels:
        app: {{ name }}
        service: {{ name }}
        sa-telemetry-app: {{ name }}
    spec:
      containers:
      - args:
        - -config=/config/sa.metrics.config.json
        - -uname=$(MY_POD_NAME)
        - -servicetype=metrics
        env:
        - name: MY_POD_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.name
        image: {{ image }}
        imagePullPolicy: Always
        name: smart-gateway
        ports:
        - containerPort: 8081
          name: metrics
          protocol: TCP
        volumeMounts:
        - mountPath: /config
          name: metrics-config
      nodeSelector:
        application: sa-telemetry
        node: blue
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - configMap:
          defaultMode: 420
          name: metrics-config-blue
        name: metrics-config
  test: false
  triggers:
  - type: ConfigChange
